<!doctype html>
<html ng-app="salaryComputer">
<head>
    <script data-require="angular.js@1.6.6" data-semver="1.6.6"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <title>Kalkulator zarobków na kontrakcie</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="main.css"/>
    <script src="script.js"></script>

</head>
<body ng-controller="CalculatorController">

<div id="footer">
    <div class="container 75%">

        <header class="major last">
            <h2>Kalkulator zarobków</h2>
        </header>

        <p>Aplikacja wyliczająca miesięczny zarobek netto w PLN na kontrakcie w Niemczech,
            Wielkiej Brytanii i Polsce</p>
        <p>Aktualne kursy walut pobierane są z oficjalnej strony Narodowego Banku Polskiego</p>



            <div class="row">
                <div class="6u 12u(mobilep)">
                    <input type='number' ng-model='dailyWage' name='dailyWage' min="1"
                           placeholder="Wpisz dzienną stawkę brutto"/>
                </div>
                <div class="6u 12u(mobilep)">
                    <select class="6u 12u(mobilep)" ng-model="currencyCode" name='currencyCode' ng-init="PLN">
                        <option value="PLN">Polska</option>
                        <option value="GBP">Wielka Brytania</option>
                        <option value="EUR">Niemcy</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <ul class="actions">
                        <li>
                            <button ng-click="calculateSalaryByCountryCode()" value="Oblicz">Oblicz</button>
                        </li>
                    </ul>
                </div>
            </div>

        <div ng-show="showResult">
    		Miesięczne zarobki netto: {{salaryResponse}} PLN
        </div>
    </div>
</div>

<div ng-show="showError">
    <h2>Something wrong happened</h2>
</div>

</body>
</html>